#root {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.list {
    flex-grow: 1;
}

footer, .list {
    padding: 30px;
    max-inline-size: 600px;
}

h1 {
}

ul {
    font-size: 20px;
    margin: 0;
    padding: 0;
    li {
        padding-block-end: 10px;
        display: flex;
        justify-content: stretch;
        align-items: center;
        input {
            border-end-end-radius: 0;
            border-start-end-radius: 0;
        }
        button {
            border-radius: 0;
            border-inline-start-style: none;
        }
    }
}

li span {
    flex-grow: 1;
    display: inline-block;
}
input[type=checkbox] {
    flex-grow: 0;
    inline-size: 20px;
    margin-inline-end: 10px;
}

input {
    flex-grow: 1;
    height: 0;
}

input, button {
    font-size: 20px;
    border: 2px solid #fff4;
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 6px;
    background: #0004;
    line-height: 20px;
    box-sizing: content-box;
    margin: 0;
    display: inline-block;
    height: auto;
    width: auto;
    block-size: 20px;
}
input:focus {
    border-color: #08f8;
    outline: none;
}
button {
    font-size: 20px;
    background: #036;
    cursor: pointer;
    height: auto;
    width: auto;
}
button:hover {
    background: #048;
}
button:active {
    background: #024;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #424;
    padding: 10px;
}
nav button, button.edit {
    font-size: 1rem;
    margin: 0;
    border: none;
    background: #0004;
    padding-inline: 10px;
    padding-block: 3px;
    border-radius: 10px;
    block-size: auto;
    color: #fffb;
}
nav button:hover, button.edit:hover {
    background: #000;
    color: #fff;
}
nav button:active, button.edit:active {
    background: #808;
    color: #fff;
}
button.new {
    border-radius: 10px;
    border: 2px solid #fff4;
}

button.edit {
    margin-inline-start: 10px;
}

button.delete {
    background: #600;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}
button.delete:hover {
    background: #800;
}
button.delete:active {
    background: #400;
}

p {
    color: #fdfe;
    line-height: 1.2;
}
small {
    opacity: 0.5;
}

mark {
    background: #424;
    color: #fff;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
}
