:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
}

:root, input, button {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  /*font-family: Serif;*/
}

body {
  margin: 0;
}
